.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.pyright
.hypothesis
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
.coverage
.coverage.*
coverage.xml
htmlcov
build
dist
*.log
*.tmp
*.bak
.env
.env.*
config.json
config.*.json
data/*.json
data/*.jsonl
